body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.sidebar {
  position: absolute;
  right: 0;
  width: 35vw;
  top: 0;
}

.panel {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px 2vw;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

.control-panel {
  font-size: 16px;
}

.detail-panel {
  font-size: 12px;
  line-height: 1.6;
  max-height: 300px;
  overflow-y: auto;
}

.project-panel {
  position: absolute;
  width: 60vw;
  right: 32vw;
  top: 0;
  max-height: 90%;
  font-size: 13px;
  overflow-y: auto;
}

.project-panel img {
  max-width: 100%;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  margin-left: 20px;
  width: 160px;
}

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 2px 8px 8px 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 12px;
  z-index: 9;
  pointer-events: none;
  line-height: 1.6;
}

h2, h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

.Select-control {
  margin-bottom: 8px;
}

button {
  background: #3498db;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}